<template>
  <div class="home h-20 flex flex-col">
    <div class="container mx-auto w-full flex my-16 justify-center h-full bg-white">
      <div class="flex flex-col">
        <Speedometer class="m-8" :percentage="per" />
        <ProgressBar class="m-8" :percentage="per" />
      </div>

      <div class="flex flex-col justify-center">
        <button class="anim py-4 px-8 my-4 mx-8 hover:bg-blue-200 bg-blue-500 rounded-full" @click="per = 0">0%</button>
        <button class="anim py-4 px-8 my-4 mx-8 hover:bg-blue-200 bg-blue-500 rounded-full" @click="per = 33">33%</button>
        <button class="anim py-4 px-8 my-4 mx-8 hover:bg-blue-200 bg-blue-500 rounded-full" @click="per = 66">66%</button>
        <button class="anim py-4 px-8 my-4 mx-8 hover:bg-blue-200 bg-blue-500 rounded-full" @click="per = 100">100%</button>
      </div>
    </div>
    <div class="container mx-auto">
      <Slider :min="0" :max="100" v-model="per" />
    </div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";
import Speedometer from "@/components/Speedometer.vue";
import ProgressBar from "@/components/ProgressBar.vue";
import Slider from "@/components/Slider.vue";

@Component({
  components: { Speedometer, ProgressBar, Slider }
})
export default class Compare extends Vue {
  private per = 55;
}
</script>