<template>
  <div class="home h-20">
    <div class="container mx-auto w-full h-full bg-section-delim">
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class Details extends Vue {
  @Prop() private msg!: string;
}
</script>