<template>
  <div class="w-full">
    <div class="bg-section-delim w-full news-section">
      <div class="container mx-4 mx-auto w-full relative" style="height: 480px;">
        <ContainImg class="w-full h-full" :cover="true" src="/news.jpg" />
        <div class="absolute flex flex-row w-full top-0 left-0 px-4 align-middle items-center" style="top: 55%;">
          <div class="w-1/2 relative text-white text-5xl flex flex-col items-center">
            <div>
              <div class="text-2xl md:text-5xl">Acer Nitro 5</div>
              <div class="text-xl md:text-2xl">5499,99 kn</div>
            </div>
          </div>
          <div class="w-1/2 relative flex flex-col items-center">
            <button
              class="anim btn-large hover-shadow flex flex-col self-center"
            >Pogledaj više</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto w-full flex flex-col">
      <div class="flex flex-row justify-center">
        <div class="tab anim tab--active relative px-6 mt-4">
          Izdvojeno
        </div>
        <div class="tab anim px-6 mt-4">Na akciji</div>
      </div>
      <div class="columns overflow-x-auto flex flex-row w-full h-full py-4">
        <ProductCard
          v-for="(product, index) in products"
          class="column hover-shadow w-full sm:w-1/2 md:w-1/3 lg:w-1/6"
          :key="index"
          :product="product"
        />
      </div>
    </div>
    <div class="bg-section-delim w-full categories-selection">
      <div class="container mx-auto w-full">
        <div class="flex flex-col">
          <div class="flex flex-wrap py-8">
            <div class="w-1/2 md:w-1/4 my-4">
              <router-link :to="{ name: 'Products' }" class="px-4 py-4 anim">
                <div class="flex flex-col">
                  <PCIcon class="mx-auto" />
                  <div class="text-center pt-5">Informatika</div>
                </div>
              </router-link>
            </div>
            <div class="w-1/2 md:w-1/4 my-4">
              <router-link to class="px-4 py-4 anim">
                <div class="flex flex-col">
                  <TVIcon class="mx-auto" />
                  <div class="text-center pt-5">Audio i video</div>
                </div>
              </router-link>
            </div>
            <div class="w-1/2 md:w-1/4 my-4">
              <router-link to class="px-4 py-4 anim">
                <div class="flex flex-col">
                  <WashingmachineIcon class="mx-auto" />
                  <div class="text-center pt-5">Bijela tehnika</div>
                </div>
              </router-link>
            </div>
            <div class="w-1/2 md:w-1/4 my-4">
              <router-link to class="px-4 py-4 anim">
                <div class="flex flex-col">
                  <SportIcon class="mx-auto" />
                  <div class="text-center pt-5">Sport i oprema</div>
                </div>
              </router-link>
            </div>
            <div class="w-1/2 md:w-1/4 my-4">
              <router-link to class="px-4 py-4 anim">
                <div class="flex flex-col">
                  <DuckIcon class="mx-auto" />
                  <div class="text-center pt-5">Igračke, djeca i bebe</div>
                </div>
              </router-link>
            </div>
            <div class="w-1/2 md:w-1/4 my-4">
              <router-link to class="px-4 py-4 anim">
                <div class="flex flex-col">
                  <DogIcon class="mx-auto" />
                  <div class="text-center pt-5">Kučni ljubimci</div>
                </div>
              </router-link>
            </div>
            <div class="w-1/2 md:w-1/4 my-4">
              <router-link to class="px-4 py-4 anim">
                <div class="flex flex-col">
                  <MaskmanIcon class="mx-auto" />
                  <div class="text-center pt-5">Covid19 zaštitna oprema</div>
                </div>
              </router-link>
            </div>
          </div>
          <div class="flex flex-row"></div>
        </div>
      </div>
    </div>
    <div class="container mx-auto w-full py-24">
      <div class="newsletter w-full px-4 md:px-0 md:w-1/2 mx-auto flex flex-col justify-center">
        <div class="mb-2 text-3xl">Prijavi se na newsletter</div>
        <div class="flex flex-row">
          <input class="w-4/6 md:w-5/6 anim" type="text" placeholder="e-mail" />
          <button class="w-2/6 md:w-1/6 anim">Prijavi se</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import PCIcon from "@/components/PCIcon.vue";
import TVIcon from "@/components/TVIcon.vue";
import WashingmachineIcon from "@/components/WashingmachineIcon.vue";
import SportIcon from "@/components/SportIcon.vue";
import DuckIcon from "@/components/DuckIcon.vue";
import DogIcon from "@/components/DogIcon.vue";
import MaskmanIcon from "@/components/MaskmanIcon.vue";
import ContainImg from "@/components/ContainImg.vue";
import ProductCard from "@/components/ProductCard.vue";
// import Product from "@/store/models/Product";

@Component({
  components: {
    PCIcon,
    TVIcon,
    WashingmachineIcon,
    SportIcon,
    DuckIcon,
    DogIcon,
    MaskmanIcon,
    ContainImg,
    ProductCard
  }
})
export default class Home extends Vue {
  @Prop() private msg!: string;
  private products = [
    {
      img: "p1.jpg",
      name:
        "Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB ",
      price: "4.220,00 kn"
    },
    {
      img: "p2.jpg",
      name: "Prijenosno računalo LENOVO IdeaPad L340 81LW0048SC / Ryzen 3 FHD",
      price: "2.555,00 kn"
    },
    {
      img: "p3.jpg",
      name:
        "Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB ",
      price: "4.220,00 kn"
    },
    {
      img: "p4.png",
      name: "Prijenosno računalo LENOVO IdeaPad L340 81LW0048SC / Ryzen 3 FHD",
      price: "2.555,00 kn"
    },
    {
      img: "p5.jpg",
      name:
        "Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB ",
      price: "4.220,00 kn"
    },
    {
      img: "p6.jpg",
      name: "Prijenosno računalo LENOVO IdeaPad L340 81LW0048SC / Ryzen 3 FHD",
      price: "2.555,00 kn"
    }
  ];
}
</script>
