<template>
  <div class="product px-4 bg-section-delim">
    <Breadcrumbs class="hidden md:block -mx-4"  :breadcrumbs="['Informatika', 'Laptopi', 'Fiktivna kategorija', 'Fiktivna kategorija 2']" />
    <div class="container mx-auto py-8 w-full h-full flex flex-row flex-wrap">
      <div class="w-full lg:w-1/3 sidebar flex flex-col mb-8">
        <div class="w-full lg:w-3/4">
          <div class="categories bg-white flex flex-col p-4 hover-shadow shadow anim">
            <div class="text-xl font-bold mb-4">Informatika</div>
            <div class="mb-2">Računala za multimediju</div>
            <div class="mb-2">Laptopi za gaming</div>
            <div>Uredski laptopi</div>
          </div>
          <ZastoOvoNeRadiSaFilterNazivom class="mt-16 bg-white shadow hover-shadow anim" />
        </div>
      </div>
      <div class="w-full lg:w-2/3 products flex flex-col">
        <div class="flex flex-row flex-wrap justify-between">
          <div class="mb-4">Ukupno proizvoda: 64</div>
          <div class="mb-4">
            Sortiraj po:
            <select>
              <option>Zadano</option>
              <option>Cijena veća -> manja</option>
              <option>Cijena manja -> veća</option>
            </select>
          </div>
          <div class="mb-4">
            Po stranici:
            <select>
              <option>12</option>
              <option>24</option>
              <option>36</option>
            </select>
          </div>
          <div class="mb-4">
            Prikaz:
            <select>
              <option>grid</option>
              <option>popis</option>
            </select>
          </div>
        </div>
        <div class="flex flex-row flex-wrap justify-around -mx-4">
          <div
            v-for="(product, index) in products"
            class="px-4 pt-8 w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4"
            :key="index"
          >
            <ProductCard
              :key="index"
              class="bg-white w-full shadow hover-shadow"
              :product="product"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Breadcrumbs from "@/components/Breadcrumbs.vue";
import ProductCard from "@/components/ProductCard.vue";
import ZastoOvoNeRadiSaFilterNazivom from "@/components/Filter.vue";

@Component({
  components: { Breadcrumbs, ProductCard, ZastoOvoNeRadiSaFilterNazivom }
})
export default class Products extends Vue {
  @Prop() private msg!: string;
  private products = [
    {
      img: "p1.jpg",
      name:
        "Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB ",
      price: "4.220,00 kn"
    },
    {
      img: "p2.jpg",
      name: "Prijenosno računalo LENOVO IdeaPad L340 81LW0048SC / Ryzen 3 FHD",
      price: "2.555,00 kn"
    },
    {
      img: "p3.jpg",
      name:
        "Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB ",
      price: "4.220,00 kn"
    },
    {
      img: "p4.png",
      name: "Prijenosno računalo LENOVO IdeaPad L340 81LW0048SC / Ryzen 3 FHD",
      price: "2.555,00 kn"
    },
    {
      img: "p5.jpg",
      name:
        "Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB ",
      price: "4.220,00 kn"
    },
    {
      img: "p6.jpg",
      name: "Prijenosno računalo LENOVO IdeaPad L340 81LW0048SC / Ryzen 3 FHD",
      price: "2.555,00 kn"
    },
    {
      img: "p1.jpg",
      name:
        "Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB ",
      price: "4.220,00 kn"
    },
    {
      img: "p2.jpg",
      name: "Prijenosno računalo LENOVO IdeaPad L340 81LW0048SC / Ryzen 3 FHD",
      price: "2.555,00 kn"
    },
    {
      img: "p3.jpg",
      name:
        "Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB ",
      price: "4.220,00 kn"
    },
    {
      img: "p4.png",
      name: "Prijenosno računalo LENOVO IdeaPad L340 81LW0048SC / Ryzen 3 FHD",
      price: "2.555,00 kn"
    },
    {
      img: "p5.jpg",
      name:
        "Prijenosno računalo ACER Nitro 5 NH.Q3REX.035 / Ryzen 5 2500U, 8GB, 512GB ",
      price: "4.220,00 kn"
    },
    {
      img: "p6.jpg",
      name: "Prijenosno računalo LENOVO IdeaPad L340 81LW0048SC / Ryzen 3 FHD",
      price: "2.555,00 kn"
    }
  ];
}
</script>
