<template>
  <svg width="19" height="48" viewBox="0 0 19 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.21851 0L17.2185 24L1.21851 48" stroke="#0092C1" stroke-width="1.5" />
  </svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class BreadcrumbChevron extends Vue {}
</script>