<template>
  <div class="bg-branding-light">
    <div class="container mx-auto breadcrumbs w-full flex flex-row items-center">
      <template v-for="(breadcrumb, index) in breadcrumbs">
        <Chevron class="mr-4" :key="index" />
        <div class="mr-4" :key="index">{{breadcrumb}}</div>
        <BreadcrumbChevron class="mr-4" v-if="index !== breadcrumbs.length -1" :key="index" />
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import BreadcrumbChevron from "@/components/BreadcrumbChevron.vue";
import Chevron from "@/components/Chevron.vue";

@Component({
  components: { BreadcrumbChevron, Chevron }
})
export default class Chip extends Vue {
  @Prop() private label!: string;
  @Prop() private breadcrumbs!: string[];
}
</script>