<template>
    <svg width="30px" height="32px" viewport="0 0 30 32"  xmlns="http://www.w3.org/2000/svg"><path d="M27.4 18.8l2.5-13c.1-1-.5-1.8-1.2-1.8h-20l-.5-2.8C8.1.5 7.6 0 7 0H1.8C1 0 .6.7.6 1.5v1C.6 3.3 1 4 1.8 4h3.5L9 25.5c-.8.6-1.4 1.7-1.4 3 0 2 1.3 3.5 2.8 3.5 1.6 0 2.9-1.6 2.9-3.5a4 4 0 00-.9-2.5H23a4 4 0 00-.9 2.5c0 2 1.3 3.5 2.9 3.5 1.6 0 2.9-1.6 2.9-3.5 0-1.4-.7-2.6-1.7-3.2l.3-1.5c.2-1-.4-1.8-1.2-1.8H11.7l-.4-2h15c.5 0 1-.5 1.1-1.2z" fill="currentColor"/></svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class CartIcon extends Vue {}
</script>
