<template>
  <svg
    class="chevron"
    :class="{'chevron-opened': opened}"
    width="13"
    height="8"
    viewBox="0 0 13 8"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6.55898 6.9813L11.7762 1.0188H1.3418L6.55898 6.9813Z"
      stroke="currentColor"
      stroke-width="1"
    />
  </svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class Chevron extends Vue {
  @Prop() private opened!: boolean;
}
</script>
