<template>
  <div class="chip rounded-full px-4 py-2 bg-branding-light flex flex-row items-center">
    {{label}}
    <div class="chip--close ml-2 px-1 rounded-full bg-branding text-black">X</div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class Chip extends Vue {
  @Prop() private label!: string;
}
</script>