<template>
    <svg width="28" height="32" xmlns="http://www.w3.org/2000/svg"><path d="M8.3 22.5l13.3-7.3c1-.5 2.5-.5 3.4 0l2.2 1.2c1 .5 1 1.4 0 1.9l-9.5 5.1 9.5 5.2c1 .5 1 1.3 0 1.8L25 31.6c-1 .5-2.4.5-3.4 0L8.3 24.3c-1-.5-1-1.3 0-1.8zM20.3 9.5L7 16.8c-1 .5-2.4.5-3.3 0l-2.3-1.2c-.9-.5-.9-1.4 0-1.9L11 8.6 1.4 3.4c-.9-.5-.9-1.3 0-1.8L3.6.4c1-.5 2.5-.5 3.4 0l13.3 7.3c1 .5 1 1.3 0 1.8z" fill="currentColor"/></svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class CompareIcon extends Vue {}
</script>
