<template>
  <div>
    <div :style="backgroundImg"></div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
// const importer = require.context('@/', true, /\.jpg|\.png$/)

@Component({
  components: {}
})
export default class ContainImg extends Vue {
  @Prop() private src!: string;
  @Prop() private cover!: boolean;

  get backgroundImg() {
    return "background-repeat: no-repeat; background-size: " + (this.cover ? "cover" : "contain") + "; background-position: 50% 50%; background-image: url(" + (this.src) + "); min-height: 1px; height: 100%; width: 100%";
  }
}
</script>