<template>
    <svg width="98" height="82"  xmlns="http://www.w3.org/2000/svg"><path d="M74 14.3a2.7 2.7 0 100-5.4 2.7 2.7 0 000 5.4z" fill="currentColor"/><path d="M93.5 10.7c-4.1 0-7.6.3-11-3.1L78 3c-2-2-4.7-3.1-7.6-3.1H58c-3 0-5.6 1.1-7.7 3.1v.1l-8.4 8.3a9.3 9.3 0 00-2.7 6.6v2.8c0 5 4 10.3 9 11l1.7.2v.7c-8.8 5-26.8 15.3-30.4 18.8-3 3-5.2 7.8-5.2 12.6 0 2.1.2 4.3 1.5 7.1H5.3a5.3 5.3 0 000 10.7H50c2.6 0 4.4-2.8 3.2-5.2-1.2-2-3-3.7-5.2-4.6 1.3-2.4 2-4.5 5-4.5H57v10.7c0 2 1.6 3.6 3.6 3.6H74c2.7 0 4.5-3 3-5.3a10.7 10.7 0 00-7.8-5.3l.8-6.3c4.2-2.6 7.4-7 8.3-12 1.2-7.1-1.8-13.5-6.9-17.4v-7.2H82c4 0 8.8-2.7 10.8-6 .8-1.5 4.3-6.6 4.3-8.3 0-1.8-1.5-3.5-3.6-3.5zM50 28.5c-4.4 0-7.1-3.7-7.1-7.5V18c0-1.5.5-3 1.7-4l8.3-8.4a7.3 7.3 0 014.2-2v17.7c0 3.8-3 7-7.1 7zm-44.6 50a1.8 1.8 0 010-3.6H18c1.4 1.7 1.6 2 3.6 3.5H5.3zm84.4-58A10 10 0 0182 25h-9a5.3 5.3 0 01-5.1-3.6h-3.7a8.9 8.9 0 003.5 5.4v10.7c5.2 3.9 8 8.3 7 15-1 5.2-4.1 8-8.2 10.5l-1.4 11.5c3.6.5 6.8.5 8.8 4H60.6V60.5H57v3.6h-4a8 8 0 00-3.1.7c.1-4.9-1.6-9.7-5.2-13.3L42.2 54c5.3 5.3 5 13 2 17.7L43 74c2.7 1.2 5.4 2 6.8 4.5H32a14.2 14.2 0 01-8.5-25.6c4-3 25.6-15.5 29.9-18v-3.4c4.1-1.4 7.1-5.4 7.1-10V3.6h9.8c2 0 3.7.7 5 2l4.5 4.5c2.5 2.5 5.9 4 9.5 4.1a5 5 0 002.4 3l-2 3.4z" fill="currentColor"/></svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class DogIcon extends Vue {}
</script>
