<template>
  <div class="dropdown dropdown--content flex flex-col" :class="[{'dropdown__active': opened}]">
    <slot v-if="opened"></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import SearchIcon from "@/components/SearchIcon.vue";
import CompareIcon from "@/components/CompareIcon.vue";
import WishListIcon from "@/components/WishListIcon.vue";
import CartIcon from "@/components/CartIcon.vue";

@Component({
  components: { SearchIcon, CompareIcon, WishListIcon, CartIcon }
})
export default class Dropdown extends Vue {
  @Prop() private opened!: boolean;
}
</script>
