<template>
    <svg width="97" height="82"  xmlns="http://www.w3.org/2000/svg"><path d="M65.5 68.7c-1.5 1-3.1 1.8-4.8 2.5a1.4 1.4 0 001 2.6 35.5 35.5 0 005.8-3.1 1.4 1.4 0 00-2-2z" fill="currentColor"/><path d="M95 21.7a4.2 4.2 0 00-3.4-7.1c-3.8.5-8.7-.2-10.8-.5A20.6 20.6 0 1043 30c-4.2.1-8.4 1.1-12.2 3a36.3 36.3 0 01-29.4-.3A1.4 1.4 0 000 34.2c0 14.3 4.5 47.7 46.3 47.7a44 44 0 0024.8-7.7 26.5 26.5 0 0012.2-21.8c0-9.4-3.6-14.7-7-17.7 1.3-1.4 2.4-2.9 3.2-4.5 7-.8 13.6-6.6 15.5-8.5zm-3.1-4.3a1.3 1.3 0 011.4.7 1.3 1.3 0 010 1c0 .3-.2.4-.3.6-3.6 3.4-9 7.2-13.8 7.7a7.5 7.5 0 01-.4-7.7l1.6-2.8c2.2.3 7.3 1 11.5.5zM73.4 35.9c3.2 2.4 7 7.1 7 16.5 0 9.7-6 16-10.9 19.5A41 41 0 0146.3 79C10.2 79 3.4 53.3 2.9 36.4c7 2.8 19.9 3.8 29.2-.8 4.2-2 8.7-2.9 13.3-2.8a1.4 1.4 0 001.2-2.2A17.8 17.8 0 1178 15l-1.8 3.4A10.3 10.3 0 0077 29c-1 1.7-2.2 3.3-3.7 4.6a1.4 1.4 0 00.1 2.2z" fill="currentColor"/><path d="M63.3 9a6.3 6.3 0 100 12.6 6.3 6.3 0 000-12.6zm0 9.8a3.5 3.5 0 110-7 3.5 3.5 0 010 7zM60.4 48.8c-2.7-6.5-11.5-5.5-21.7-4.4a89.7 89.7 0 01-18.7 1 1.4 1.4 0 00-1 1.6c.2.5 2.8 13 19 16.4 2.5.5 5.1.8 7.7.8 6 0 10.6-1.7 13.3-5a10 10 0 001.4-10.4zm-3.6 8.6c-3 3.7-9.9 5-18.2 3.2-11-2.2-14.9-9-16.1-12.3 5.6.2 11.4-.4 16.6-1 9-1 16.8-2 18.7 2.6a7.2 7.2 0 01-1 7.5z" fill="currentColor"/></svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class DuckIcon extends Vue {}
</script>
