<template>
  <div class="filter flex flex-col">
    <div class="filter--current flex flex-col p-4">
      <div class="flex flex-row justify-between items-center">
        <div class="text-2xl">Trenutni filtri:</div>
        <div class="flex flex-row items-center">
          <button class="btn anim">Očisti sve</button>
          <Chevron style="width: 24px; height: 24px; fill: currentColor;" class="fg-branding ml-2 lg:hidden anim" />
        </div>
      </div>
      <div class="filter--current--md--hide">
        <div class="flex flex-row justify-between mt-8 items-center">
          <div class="text-xl">Cijena:</div>
          <div class="text-xl">Cijena:</div>
        </div>
        <div class="flex flex-col justify-between mt-8">
          <div class="flex flex-row items-center">
            <input type="checkbox" name="action" id="action" />
            <div class="ml-4 text-xl">Na akciji</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Novo</div>
          </div>
        </div>
        <div class="flex flex-col mt-8">
          <div class="flex flex-col">
            <div class="text-xl">Proizvođači:</div>
            <div class="flex flex-row flex-wrap mt-4">
              <Chip class="mr-2 mb-4" label="Asus" />
              <Chip class="mr-2 mb-4" label="Dell" />
              <Chip class="mr-2 mb-4" label="Lenovo" />
            </div>
          </div>
          <div class="flex flex-col mt-4">
            <div class="text-xl">Procesor:</div>
            <div class="flex flex-row flex-wrap mt-4">
              <Chip class="mr-2 mb-4" label="i5 7600k" />
              <Chip class="mr-2 mb-4" label="R5 3600X" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter--possible flex flex-col mt-12">
      <div class="anim filter-category flex flex-col">
        <div
          class="filter-category--header flex flex-row justify-between py-2 px-4 bg-branding text-white items-center"
        >
          <div class="text-xl">Proizvođači:</div>
          <Chevron class="anim" style="fill: currentColor;" />
        </div>
        <div class="anim filter-category--options flex flex-col justify-between py-4 px-8">
          <div class="flex flex-row items-center">
            <input type="checkbox" name="action" id="action" />
            <div class="ml-4 text-xl">Acer</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Asus</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Dell</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Lenovo</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">HP</div>
          </div>
        </div>
      </div>
      <div class="anim filter-category flex flex-col">
        <div
          class="filter-category--header flex flex-row justify-between py-2 px-4 bg-branding text-white items-center"
        >
          <div class="text-xl">Procesor:</div>
          <Chevron class="anim" style="fill: currentColor;" />
        </div>
        <div class="anim filter-category--options flex flex-col justify-between py-4 px-8">
          <div class="flex flex-row items-center">
            <input type="checkbox" name="action" id="action" />
            <div class="ml-4 text-xl">i5 3570k</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">i5 7600k</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">R5 3500X</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">R5 3600X</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">R7 3700X</div>
          </div>
        </div>
      </div>
      <div class="anim filter-category flex flex-col">
        <div
          class="filter-category--header flex flex-row justify-between py-2 px-4 bg-branding text-white items-center"
        >
          <div class="text-xl">Proizvođači:</div>
          <Chevron class="anim" style="fill: currentColor;" />
        </div>
        <div class="anim filter-category--options flex flex-col justify-between py-4 px-8">
          <div class="flex flex-row items-center">
            <input type="checkbox" name="action" id="action" />
            <div class="ml-4 text-xl">Acer</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Asus</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Dell</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Lenovo</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">HP</div>
          </div>
        </div>
      </div>
      <div class="anim filter-category flex flex-col">
        <div
          class="filter-category--header flex flex-row justify-between py-2 px-4 bg-branding text-white items-center"
        >
          <div class="text-xl">Proizvođači:</div>
          <Chevron class="anim" style="fill: currentColor;" />
        </div>
        <div class="anim filter-category--options flex flex-col justify-between py-4 px-8">
          <div class="flex flex-row items-center">
            <input type="checkbox" name="action" id="action" />
            <div class="ml-4 text-xl">Acer</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Asus</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Dell</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Lenovo</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">HP</div>
          </div>
        </div>
      </div>
      <div class="anim filter-category flex flex-col">
        <div
          class="filter-category--header flex flex-row justify-between py-2 px-4 bg-branding text-white items-center"
        >
          <div class="text-xl">Proizvođači:</div>
          <Chevron class="anim" style="fill: currentColor;" />
        </div>
        <div class="anim filter-category--options flex flex-col justify-between py-4 px-8">
          <div class="flex flex-row items-center">
            <input type="checkbox" name="action" id="action" />
            <div class="ml-4 text-xl">Acer</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Asus</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Dell</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Lenovo</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">HP</div>
          </div>
        </div>
      </div>
      <div class="anim filter-category flex flex-col">
        <div
          class="filter-category--header flex flex-row justify-between py-2 px-4 bg-branding text-white items-center"
        >
          <div class="text-xl">Proizvođači:</div>
          <Chevron class="anim" style="fill: currentColor;" />
        </div>
        <div class="anim filter-category--options flex flex-col justify-between py-4 px-8">
          <div class="flex flex-row items-center">
            <input type="checkbox" name="action" id="action" />
            <div class="ml-4 text-xl">Acer</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Asus</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Dell</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Lenovo</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">HP</div>
          </div>
        </div>
      </div>
      <div class="anim filter-category flex flex-col">
        <div
          class="filter-category--header flex flex-row justify-between py-2 px-4 bg-branding text-white items-center"
        >
          <div class="text-xl">Proizvođači:</div>
          <Chevron class="anim" style="fill: currentColor;" />
        </div>
        <div class="anim filter-category--options flex flex-col justify-between py-4 px-8">
          <div class="flex flex-row items-center">
            <input type="checkbox" name="action" id="action" />
            <div class="ml-4 text-xl">Acer</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Asus</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Dell</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">Lenovo</div>
          </div>
          <div class="flex flex-row items-center mt-2">
            <input type="checkbox" name="new" id="new" />
            <div class="ml-4 text-xl">HP</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Chevron from "@/components/Chevron.vue";
import Chip from "@/components/Chip.vue";

@Component({
  components: { Chip, Chevron }
})
export default class Filter extends Vue {
    @Prop() private msg!: string;
}
</script>
