<template>
  <footer>
    <div class="container mx-auto flex flex-col flex-wrap py-8">
      <div class="flex flex-row flex-wrap px-4 md:pl-0">
        <div class="flex flex-col">
          <img class src="@/assets/logo-white.png" />
        </div>
      </div>
      <div class="flex flex-row flex-wrap">
        <div class="w-full md:w-1/2 px-4 md:pl-0 flex flex-row flex-wrap columns pt-8">
          <div class="w-full md:w-9/12 column text-white">
            <p>Links d.o.o želi ponajprije zahvaliti svim onima koji su nam u proteklom periodu pružili povjerenje. Nadamo se da smo barem dijelom uspjeli opravdati Vaša očekivanja te Vam pomoći u odabiru informatičkog rješenja primjerenog Vašim zahtjevima.</p>
            <br />
            <p>Tvrtka smo sa 15+ godišnjim iskustvom, koja se ističe kvalitetnom paletom proizvoda, brzom uslugom, originalnim rješenjima te stručnim kadrom. Poslovanje tvrtke bazira se na proizvodnji i prodaji računala te računalnih komponenti.</p>
          </div>
          <ContainImg class="w-full h-full ml-32 md:ml-0 md:w-2/12 column" style="min-height: 1px;" src="/vrhunska-usluga.png" />
        </div>
        <div class="md:w-1/2  flex flex-row flex-wrap">
          <div class="w-full md:w-1/3 flex flex-col"></div>
          <div class="w-full pl-4 md:pl-0 mt-8 md:w-1/3 flex flex-col">
            <div class="text-2xl text-white">Kontakt</div>
            <div class="mt-2 text-white">Tel: ### ###</div>
            <div class="mt-2 text-white">Adresa</div>
            <div class="mt-2 text-white">Adresa</div>
          </div>
          <div class="w-full pl-4 md:pl-0 md:w-1/3 mt-8 flex flex-col">
            <div class="text-2xl text-white">Informacije</div>
            <div class="mt-2 text-white">Izjava o privatnosti</div>
            <div class="mt-2 text-white">Izjava o sigurnosti</div>
            <div class="mt-2 text-white">Uvjeti korištenja</div>
            <div class="mt-2 text-white">Rješavanje sporova</div>
            <div class="mt-2 text-white">Načini plaćanja</div>
            <div class="mt-2 text-white">Dostava</div>
            <div class="mt-2 text-white">Servis</div>
          </div>
        </div>
      </div>
      <div class="flex flex-row flex-wrap flex-grow w-full mt-8 justify-center columns" style="min-height: 96px;">
        <ContainImg class="w-1/3 md:w-24 h-24 mt-4 column" src="/management-system.png" />
        <ContainImg class="w-1/3 md:w-24 h-24 mt-4 column" src="/sigurna-web-trgovina.png" />
        <ContainImg class="w-1/3 md:w-24 h-24 mt-4 column" src="/superbrands-2012.png" />
        <ContainImg class="w-1/3 md:w-24 h-24 mt-4 column" src="/superbrands-2013.png" />
        <ContainImg class="w-1/3 md:w-24 h-24 mt-4 column" src="/superbrands-2014.png" />
        <ContainImg class="w-1/3 md:w-24 h-24 mt-4 column" src="/superbrands-2017.png" />
        <ContainImg class="w-1/3 md:w-24 h-24 mt-4 column" src="/best-buy.png" />
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import ContainImg from "@/components/ContainImg.vue";

@Component({
  components: { ContainImg }
})
export default class Header extends Vue {
  @Prop() private msg!: string;
}
</script>

<style scoped lang="scss">
</style>
