<template>
  <header>
    <div class="container mx-auto">
      <div class="flex flex-row justify-between items-center">
        <div class="md:w-3/12 mr-4 inline-block align-middle">
          <router-link :to="{ name: 'Home' }">
            <img class="inline-block align-middle" src="@/assets/logo-white.png" />
          </router-link>
        </div>
        <div class="hidden md:flex w-6/12 flex flex-col">
          <div class="flex flex-row mb-2">
            <router-link :to="{ name: 'Products' }" exact class="nav text-white">Proizvodi</router-link>
            <router-link :to="{ name: 'Home' }" exact class="nav text-white">Novosti</router-link>
            <router-link :to="{ name: 'Home' }" exact class="nav text-white">Informacije</router-link>
            <router-link :to="{ name: 'Home' }" exact class="nav text-white">Informacije</router-link>
          </div>
          <div class="search flex flex-row w-full">
            <input
              class="search-field bg-branding-light w-full"
              type="text"
              placeholder="Pretraži trgovinu"
              name="search"
              id="search"
            />
            <button class="search-btn bg-branding-light text-white">
              <SearchIcon />
            </button>
          </div>
        </div>
        <div class="hidden w-3/12 md:flex flex-col">
          <div class="flex flex-row justify-end">
            <div class="nav-2 text-white">Prijava</div>
            <div class="nav-2 text-white">Registracija</div>
          </div>
          <div class="flex flex-row justify-end text-white pt-2">
            <div class="icons anim">
              <WishListIcon />
            </div>
            <router-link :to="{ name: 'Compare' }" class="icons anim">
              <CompareIcon />
            </router-link>
            <div class="icons anim">
              <CartIcon />
            </div>
          </div>
        </div>
        <div
          class="md:hidden mx-4 self-center text-right text-3xl items-center text-white hover:text-blue-300"
          @click="dropdownActive = !dropdownActive"
        >
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </div>
    <div class="container mt-4 mx-auto">
      <Dropdown :opened="dropdownActive" class="anim items-end mx-4">
        <div class="search flex flex-row w-full my-4">
          <input
            class="search-field bg-branding-light w-full"
            type="text"
            placeholder="Pretraži trgovinu"
            name="search"
            id="search"
          />
          <button class="search-btn bg-branding-light text-white">
            <SearchIcon />
          </button>
        </div>
        <router-link :to="{ name: 'Products' }" exact class="mb-2 text-xl text-white">Proizvodi</router-link>
        <router-link :to="{ name: 'Home' }" exact class="mb-2 text-xl text-white">Novosti</router-link>
        <router-link :to="{ name: 'Home' }" exact class="mb-2 text-xl text-white">Informacije</router-link>
        <router-link :to="{ name: 'Home' }" exact class="mb-2 text-xl text-white">Informacije</router-link>
      </Dropdown>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import SearchIcon from "@/components/SearchIcon.vue";
import CompareIcon from "@/components/CompareIcon.vue";
import WishListIcon from "@/components/WishListIcon.vue";
import CartIcon from "@/components/CartIcon.vue";
import MenuIcon from "@/components/MenuIcon.vue";
import Dropdown from "@/components/Dropdown.vue";

@Component({
  components: {
    SearchIcon,
    CompareIcon,
    WishListIcon,
    CartIcon,
    MenuIcon,
    Dropdown
  }
})
export default class Header extends Vue {
  @Prop() private msg!: string;
  private dropdownActive = false;
}
</script>
