<template>
  <svg width="63" height="83"  xmlns="http://www.w3.org/2000/svg"><path d="M17.1 47.4A17.1 17.1 0 000 64.5v16.8a1 1 0 001 1h60.1a1 1 0 001-1V64.5a17.1 17.1 0 00-17.1-17h-3.4v-4c3.5-2.7 5.7-6.8 6.2-11.2v-.2l.7-.4c.5-.3 1-.7 1.4-1.2 1.5-2 2-5.7.3-7.2l-.9-.5V11a11 11 0 00-11-11H23.4a11 11 0 00-11 11v12c-.2 0-.3.1-.5.3-.7.5-1 1.5-1 2.7 0 1 0 2 .4 2.9a8.4 8.4 0 002.7 3.5l.4.3c.5 4.2 2.7 8 6 10.7v4H17zm13 32.8H14.6V68.6a1 1 0 00-2 0v11.6H2V64.5a15 15 0 0115.1-15h3.3v1.3a1 1 0 00.6 1l4.7 2c1.4.6 2.8 1 4.3 1.1v25.3zM45 49.5a15 15 0 0115 15v15.7H49.4V68.6a1 1 0 00-2 0v11.6H32.1V55c1.5-.1 3-.5 4.3-1l4.6-2.1a1 1 0 00.6-1v-1.3H45zm-1.5-17a16.3 16.3 0 00-1-5c.8-.8 1.7-1.4 2.7-2l.5 3.8.1 1.8a18 18 0 00-2.3 2.3v-1zm-2.4-6.6l-.7-.3A27.2 27.2 0 0028.9 24a30.3 30.3 0 00-8.5 2c-1-1-2-1.7-3.2-2.3l1.4-10a6.2 6.2 0 015.9-5.4 12.5 12.5 0 0012.4.3l.7-.3a6.3 6.3 0 016 5.4l1.3 9.7c-1.4.7-2.7 1.5-3.8 2.5zm-.3 11.6a1.3 1.3 0 01-1 1 35.4 35.4 0 01-19-.3V38 38a35 35 0 01-.1-9 1.9 1.9 0 011.3-1.6 28.3 28.3 0 018.9-1.5c3 0 6 .6 8.8 1.6a1.9 1.9 0 011.1 1.2 14.3 14.3 0 010 8.8zm8-12.7c.7.6.6 3-.6 4.5l-.4.4v-.6l-.7-4.4c.9-.2 1.5-.1 1.8.1zm-34.4 4.3l-.1.7a5 5 0 01-1-1.6c-.6-1.5-.5-3-.1-3.4.2-.2.8-.2 1.8.1l-.6 4.2zm0-6.4V11a9 9 0 019-9h14.9a9 9 0 019 9v11.6l-.5.1-1.3-9.2a8.3 8.3 0 00-8.2-7.3h-.2l-1.2.6a10.5 10.5 0 01-10.6-.4l-.2-.2h-.3a8.3 8.3 0 00-8.2 7.3l-1.4 9.4-.8-.2zm2 6.6l.5-3.5 2.2 1.6c-.2.4-.4.9-.4 1.3a37 37 0 00-.3 5.5 21 21 0 00-2.1-2.5v-2.4zm1 7a23.4 23.4 0 011.7 2.8c-.7-.8-1.2-1.8-1.7-2.8zm3.1 4c3.4 1 6.9 1.4 10.4 1.4 3.3 0 6.5-.4 9.5-1.3a3.4 3.4 0 002.2-2c.7-1.4 1.6-2.8 2.7-4a14.8 14.8 0 01-25.8 5.3c.3.2.6.5 1 .6zm10.6 7c3 0 5.9-.9 8.5-2.4v5.3l-4 1.7a11.2 11.2 0 01-9 0l-4.2-1.7v-5.3c2.6 1.5 5.6 2.3 8.7 2.3z" fill="currentColor"/><path d="M38.7 28.4a42 42 0 00-16 .2 1 1 0 00.7 1.8c5-1 10-1 15 0a1 1 0 00.3-2zM38.5 32.1H23.2a1 1 0 100 2h15.3a1 1 0 100-2zM38.3 35.7a31.3 31.3 0 01-14.9 0 1 1 0 00-.4 2c2.5.7 5.2 1 7.9 1h.1c2.6 0 5.2-.4 7.8-1a1 1 0 00-.5-2zM38.5 64.2h-2.8a1 1 0 000 2h2.8a1 1 0 100-2zM38.5 71.9h-2.8a1 1 0 000 2h2.8a1 1 0 100-2z" fill="currentColor"/></svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class MaskmanIcon extends Vue {}
</script>
