<template>
  <svg width="22" height="19" viewbox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M.79 3.38H21.2c.44 0 .79-.34.79-.75V.75a.77.77 0 00-.79-.75H.8A.77.77 0 000 .75v1.88c0 .4.35.75.79.75zm0 7.5H21.2c.44 0 .79-.34.79-.76V8.25a.77.77 0 00-.79-.75H.8a.77.77 0 00-.79.75v1.88c0 .4.35.74.79.74zm0 7.5H21.2c.44 0 .79-.34.79-.75v-1.88a.77.77 0 00-.79-.75H.8a.77.77 0 00-.79.75v1.88c0 .4.35.75.79.75z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class CompareIcon extends Vue {}
</script>
