<template>
    <svg width="83" height="82"  xmlns="http://www.w3.org/2000/svg"><path d="M35 73.4H7.5a1.2 1.2 0 000 2.4h27.7a1.2 1.2 0 100-2.4zM7.4 17h27.7a1.2 1.2 0 001.2-1.3V7.4A1.2 1.2 0 0035 6.2H7.4a1.2 1.2 0 00-1.2 1.2v8.3A1.2 1.2 0 007.4 17zm1.2-8.4h25.2v6H8.6v-6z" fill="currentColor"/><path d="M76.6 22.6H42.5V1.2A1.2 1.2 0 0041.3 0h-40A1.2 1.2 0 000 1.2v79.6A1.2 1.2 0 001.2 82H65a1.2 1.2 0 001.2-1.2 5.4 5.4 0 00-5.4-5.4H59L57.7 69h19a5.4 5.4 0 005.3-5.4V28a5.4 5.4 0 00-5.4-5.4zM2.4 2.4h37.7v20.2H28l-1.5.2h-19a1.2 1.2 0 000 2.5h15.9c-.5.8-.8 1.7-.8 2.7V31H7.4a1.2 1.2 0 000 2.5h15.2v5.8H7.4a1.2 1.2 0 000 2.5h15.2v13.5a5.4 5.4 0 10.4 10.2 5.4 5.4 0 005 3.3h12V77c-.6.7-1.1 1.6-1.3 2.6H2.4V2.4zm18.9 61a3 3 0 111.3-5.5v5.2c-.4.3-.9.4-1.3.4zm22.6 12c-.5 0-1 0-1.4.2V69h4.4l-1.3 6.5h-1.7zm19.5 4.2H41.2a3 3 0 012.7-1.8h16.8a3 3 0 012.7 1.8zm-6.8-4.2H48l1.2-6.5h6l1.3 6.5zm23-11.9a3 3 0 01-3 3H28a3 3 0 01-3-3V28a3 3 0 013-3h48.6a3 3 0 013 3v35.5z" fill="currentColor"/><path d="M76.6 26.8H28a1.2 1.2 0 00-1.2 1.2v28.4a1.2 1.2 0 001.2 1.2h48.6a1.2 1.2 0 001.2-1.2V28a1.2 1.2 0 00-1.2-1.2zm-1.2 28.4H29.2v-26h46.2v26z" fill="currentColor"/><path d="M72.5 46.2a1.2 1.2 0 001.2-1.2v-8.4a1.2 1.2 0 10-2.4 0V45a1.2 1.2 0 001.2 1.2zM52.3 58.7a3.3 3.3 0 100 6.6 3.3 3.3 0 000-6.6zm0 4.2a.9.9 0 110-1.7.9.9 0 010 1.7z" fill="currentColor"/></svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class PCIcon extends Vue {}
</script>
