<template>
  <div class="product-card anim flex flex-col" style="height: 396px;">
    <ContainImg style="height: 208px;" :src="product.img" />
    <div class="relative my-4 px-4">
      <div class="product-card__name mb-4">{{ product.name }}</div>
      <div class="product-card__price">{{ product.price }}</div>
    </div>
    <div class="flex flex-row mt-2 px-4 justify-between items-center">
      <button class="py-2 px-4 text-white rounded-lg bg-yellow-500">
        <CartIcon />
      </button>
      <div class="flex flex-row">
        <router-link :to="{ name: 'Compare' }" class="mr-4">
          <CompareIcon />
        </router-link>
        <button class>
          <WishListIcon />
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
// const importer = require.context('@/', true, /\.jpg|\.png$/)
import CartIcon from "@/components/CartIcon.vue";
import CompareIcon from "@/components/CompareIcon.vue";
import WishListIcon from "@/components/WishListIcon.vue";
import ContainImg from "@/components/ContainImg.vue";
import Product from "@/store/models/Product";

@Component({
  components: { CartIcon, CompareIcon, WishListIcon, ContainImg }
})
export default class ProductCard extends Vue {
  @Prop() private src!: string;
  @Prop() private product!: Product;
}
</script>