<template>
  <div class="progress-bar">
    <div class="progress-bar progress-bar--fill" :style="width"></div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class ProgressBar extends Vue {
  @Prop() private percentage!: number;

  get width() {
    if (this.percentage == null) return `width: 0%;`;
    return `width: ${this.percentage}%;`;
  }
}
</script>

<style lang="scss">
.progress-bar {
  position: relative;
  height: 1rem;
  border-radius: 10px;
  background-color: #7aceea;

  &.progress-bar--fill {
    background-color: #0092c1;
    height: 100%;
    width: 0%;
    top: 0%;
    left: 0%;
    position: absolute;
    transition: width 350ms ease-in-out;
  }
}
</style>