<template>
  <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M19.7 17.3l-3.9-3.9a1 1 0 00-.6-.3h-.7a8.1 8.1 0 10-1.4 1.4v.7c0 .2.1.5.3.6l3.9 4c.4.3 1 .3 1.3 0l1.1-1.2c.4-.3.4-1 0-1.3zM8.1 13a5 5 0 110-10 5 5 0 010 10z"
      fill="currentColor"
    />
  </svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class SearchIcon extends Vue {}
</script>
