<template>
  <div class="slider">
    <input
      class
      type="range"
      :min="min"
      :max="max"
      v-model="value"
      @input="$emit('input', $event.target.value)"
    />
    <div class="slider--fill" :style="width"></div>
  </div>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class Slider extends Vue {
  @Prop() private min!: number;
  @Prop() private max!: number;
  @Prop() private value!: number;

  get width() {
    if (this.max == null || this.value == null) return `width: 0%;`;
    return `width: ${(this.value / this.max) * 100}%;`;
  }
}
</script>

<style lang="scss">
.slider {
  position: relative;
  height: 1rem;
  border-radius: 10px;
  background-color: #7aceea;

  input[type="range"] {
    position: relative;
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 10px;
    border-radius: 999px;
    outline: none;
    z-index: 1;

    &::-webkit-slider-thumb {
      appearance: none;
      margin: 0;
      z-index: 1;
      width: 30px;
      height: 30px;
      background-color: #f2c94c;
      border-radius: 50%;
      cursor: pointer;
      outline: none;

      &:active {
          box-shadow: 0 0 0 8px rgba($color: #f2c94c, $alpha: 0.4);
      }

    }
  }

  &--fill {
    z-index: 0;
    background-color: #0092c1;
    border-radius: 999px;
    height: 100%;
    width: 0%;
    top: 0%;
    left: 0%;
    position: absolute;
  }
}
</style>
