<template>
  <div class="speedometer">
    <svg width viewBox="0.5 0.85 9 7.5">
      <path d="M2 8 A 4 4 0 1 1 8 8" fill="none" stroke-width="1" stroke="#7aceea" />
      <path
        :style="strokeDashArray"
        class="speedometer--fill"
        d="M2 8 A 4 4 0 1 1 8 8"
        fill="none"
        stroke-width="1"
        stroke="#0092c1"
      />
    </svg>
    <svg class="speedometer--pointer" :style="rotation" viewBox="0 0 53 47" fill="#7aceea">
      <path
        d="M4 42.9l26.6-15.7 4.3-8-2.2-2.7-8.7 2.9L4 42.9z"
        stroke="#0092C1"
        stroke-width="3"
        stroke-miterlimit="5.8"
      />
    </svg>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class Speedometer extends Vue {
  @Prop() private percentage!: number;

  get strokeDashArray() {
    if (this.percentage == null) return `stroke-dasharray: 0 18.34;`;
    return `stroke-dasharray: ${(this.percentage * 18.34) / 100} 18.34;`;
  }

  get rotation() {
    if (this.percentage == null) return `transform: rotate(0deg);`;
    return `transform: rotate(${(this.percentage * 262) / 100}deg);`;
  }
}
</script>

<style lang="scss">
.speedometer {
  position: relative;
  height: fit-content;
  .speedometer--fill {
    stroke-dasharray: 0 18.34;
    transition: stroke-dasharray 350ms ease-in-out;
  }
  .speedometer--pointer {
    width: 60%;
    height: 60%;
    top: 32%;
    left: 20%;
    position: absolute;
    transition: transform 350ms ease-in-out;
  }
}
</style>