<template>
    <svg width="95" height="82"  xmlns="http://www.w3.org/2000/svg"><path d="M90 8.8h-1.7V5a5 5 0 00-5-5h-5.4a5 5 0 00-5 5v13H59v-.4a4.8 4.8 0 00-4.2-4.8 4.7 4.7 0 00-3.9 1.4 4.8 4.8 0 00-2-1.2 4.6 4.6 0 00-4.9 1.3 4.7 4.7 0 00-6.7-.1 4.7 4.7 0 00-8.1 3.2v.6h-7V5a5 5 0 00-5-5h-5.5a5 5 0 00-5 5v3.8H5a5 5 0 00-5 5v22a5 5 0 005 5h1.7v3.8a5 5 0 005 5h5.4a5 5 0 005-5v-13h7v5.6c0 2.4.7 4.7 1.8 6.8l5 9.2v27.5a1.3 1.3 0 001.4 1.3h20.4a1.3 1.3 0 001.3-1.3V53.3l5.3-7.7c1-1.4 1.5-3 1.5-4.8v-9.2h7v13a5 5 0 005 5h5.5a5 5 0 005-5v-3.8H90a5 5 0 005-5v-22a5 5 0 00-5-5zm-37.8 8.6a2.1 2.1 0 012.3-2 2.2 2.2 0 012 2.2v.4H52l.1-.6zm-5-2h.3a2.1 2.1 0 012.1 2l.1.6h-2.2c-.7 0-1.5.2-2.1.5v-1a2.2 2.2 0 011.9-2.2zm2.4 16a2.1 2.1 0 01-4.2 0v-4.5a5 5 0 002.2.5h2v4zm-9-16a2.1 2.1 0 012.2 2v14a2.1 2.1 0 11-4.2 0v-14a2.1 2.1 0 012-2zm-8.8 2a2.1 2.1 0 014.2 0v14a2.1 2.1 0 01-4.2 0v-14zM5 38.2a2.4 2.4 0 01-2.4-2.4v-22A2.4 2.4 0 015 11.4h1.7v26.8H5zm14.5 6.4a2.4 2.4 0 01-2.4 2.4h-5.4a2.4 2.4 0 01-2.4-2.4V5a2.4 2.4 0 012.4-2.4h5.4A2.4 2.4 0 0119.5 5v39.6zm2.6-24h7V29h-7v-8.4zm41.1 20.2c0 1.2-.3 2.4-1 3.3l-5.5 8c-.2.2-.3.5-.3.8v26.5H38.6V52.9c0-.3 0-.5-.2-.7l-5.2-9.5c-1-1.6-1.4-3.5-1.4-5.5v-1.6a4.7 4.7 0 005.5-1 4.7 4.7 0 006.8 0 4.7 4.7 0 006.8 0 4.7 4.7 0 008.1-3.2V26a1.3 1.3 0 00-1.3-1.3h-10a2.2 2.2 0 01-2.3-2v-.1a2.1 2.1 0 012.1-2.1h10.2a5.8 5.8 0 015.5 5.8v14.4zm-11-13.4h4.2v4a2.1 2.1 0 11-4.2 0v-4zM65.8 29v-2.6c0-2.2-.8-4.2-2.3-5.8H73V29h-7zm19.9 15.6a2.4 2.4 0 01-2.4 2.4h-5.4a2.4 2.4 0 01-2.4-2.4V5a2.4 2.4 0 012.4-2.4h5.4A2.4 2.4 0 0185.7 5v39.6zm6.7-8.8a2.4 2.4 0 01-2.4 2.4h-1.7V11.4H90a2.4 2.4 0 012.4 2.4v22z" fill="currentColor"/></svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class SportIcon extends Vue {}
</script>
