<template>
    <svg width="112" height="82"  xmlns="http://www.w3.org/2000/svg"><path d="M107 0H5a5 5 0 00-5 5v59.5a5 5 0 005 5h8.7l-2.7 4a5.3 5.3 0 008.7 6l7-10h58.7l6.9 10a5.3 5.3 0 008.7-6l-2.7-4h8.7a5 5 0 005-5V5a5 5 0 00-5-5zM17.2 77.7a2.3 2.3 0 01-3.7-2.5l3.9-5.6h5.5l-5.7 8.1zm81.3-2.5a2.3 2.3 0 01-3.7 2.5L89 69.6h5.5l3.9 5.6zm10.4-10.7a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h102a2 2 0 012 2v59.5z" fill="currentColor"/><path d="M103.5 7h-95A1.5 1.5 0 007 8.5V61a1.5 1.5 0 001.5 1.6h95A1.5 1.5 0 00105 61V8.5a1.5 1.5 0 00-1.5-1.5zm-1.6 52.5H10.1V10h91.8v49.4z" fill="currentColor"/><path d="M36.2 26.8h6.4v17.5a1.5 1.5 0 003 0V26.8H52a1.5 1.5 0 100-3H36.2a1.5 1.5 0 100 3zM66.5 44.9a1.5 1.5 0 002.8 0l8-19a1.5 1.5 0 10-3-1.2L68 40.3l-6.5-15.6a1.5 1.5 0 00-2.8 1.2l7.9 19z" fill="currentColor"/></svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class TVIcon extends Vue {}
</script>
