<template>
    <svg width="92" height="82"  xmlns="http://www.w3.org/2000/svg"><path d="M90.5 0H16.3c-.8 0-1.5.6-1.5 1.3v49.1l-1.4-.1c-4.1 0-7.5 3-7.5 6.6a6.6 6.6 0 00-2.8 4H1.5c-.8 0-1.5.5-1.5 1.3v5.3c0 .7.7 1.3 1.5 1.3H3v4c0 5 4.6 9.2 10.4 9.2h77.1c.8 0 1.5-.6 1.5-1.3V1.3c0-.7-.7-1.3-1.5-1.3zM89 2.6V16H17.8V2.6H89zM8.2 58.7c.6-.2.8-.8.8-1.3v-.2l-.1-.3c0-2.2 2-4 4.5-4 1.5 0 3 .7 3.8 2 .2.3.6.5 1 .6.4 0 .9 0 1.2-.3a4.7 4.7 0 016.7 1c.3.6 1 .8 1.6.7 1.5-.2 3.1.7 3.4 2.1.1.5.5 1 1 1 .6.2 1.2 0 1.6-.4.9-.9 2.1-1.4 3.4-1.4 2 0 3.6 1.1 4.2 2.6h-35c.3-.8 1-1.6 2-2zm20-12.4c0-12.4 11.3-22.5 25.2-22.5 14 0 25.2 10 25.2 22.5 0 12.4-11.3 22.5-25.2 22.5-2 0-4.1-.3-6.1-.7l.2-.6v-2c2 .4 3.9.6 6 .6 12.2 0 22.2-8.9 22.2-19.8 0-11-10-19.8-22.3-19.8s-22.2 8.9-22.2 19.8c0 3.5 1 6.8 2.9 9.8l-1 .5a6 6 0 00-3.2-2.1 20.2 20.2 0 01-1.7-8.2zm9 9.3c-1.2-1.7-2-3.5-2.6-5.3h1c1.4 0 2.6-.5 3.6-1.4l.9-.7c.8-.7 2.1-.7 3 0l.8.7c2 1.7 5.3 1.7 7.2 0l.8-.7c.8-.7 2.2-.7 3 0l.9.7c1.9 1.7 5.2 1.7 7.1 0l1-.7c.7-.7 2-.7 2.9 0l.8.7c1 .9 2.3 1.4 3.6 1.4h1c-2 7.5-9.7 13.2-18.8 13.2-2 0-4-.3-6-.9v-.4c0-.8-.6-1.4-1.4-1.4h-1.6c-.7-3-3.7-5.2-7.2-5.2zm-3-9.3c0-9.5 8.6-17.2 19.2-17.2 10.7 0 19.3 7.7 19.3 17.2v1.3h-1.5c-.5 0-1-.2-1.5-.5l-.8-.8a5.7 5.7 0 00-7.2 0l-.9.8c-.8.7-2.1.7-3 0l-.8-.8a5.7 5.7 0 00-7.2 0l-.8.8c-.8.7-2.2.7-3 0l-.9-.8a5.7 5.7 0 00-7.1 0l-.9.8c-.4.3-1 .5-1.5.5h-1.4v-1.3zM3 63.5h41.5V66H3v-2.6zm29.6 15.9H13.4c-4.1 0-7.5-3-7.5-6.7v-4h35.6v4c0 3.7-3.3 6.7-7.4 6.7h-1.5zm8.8 0c2-1.7 3.1-4 3.1-6.7v-2.6c2.9.9 5.9 1.3 9 1.3 15.5 0 28.1-11.3 28.1-25.1 0-13.9-12.6-25.1-28.2-25.1-15.5 0-28.2 11.2-28.2 25 0 2.2.4 4.3 1 6.4a8 8 0 00-7.4-.2l-1-.8v-33H89v60.8H41.4z" fill="currentColor"/><path d="M25.2 13.2c2.5 0 4.5-1.8 4.5-4 0-2.1-2-4-4.5-4-2.4 0-4.4 1.9-4.4 4 0 2.2 2 4 4.4 4zm0-5.3c.8 0 1.5.6 1.5 1.4 0 .7-.7 1.3-1.5 1.3s-1.5-.6-1.5-1.3c0-.8.7-1.4 1.5-1.4zM37.1 13.2c2.5 0 4.4-1.8 4.4-4 0-2.1-2-4-4.4-4-2.5 0-4.5 1.9-4.5 4 0 2.2 2 4 4.5 4zm0-5.3c.8 0 1.5.6 1.5 1.4 0 .7-.7 1.3-1.5 1.3s-1.5-.6-1.5-1.3c0-.8.7-1.4 1.5-1.4zM49 13.2c2.4 0 4.4-1.8 4.4-4 0-2.1-2-4-4.4-4-2.5 0-4.5 1.9-4.5 4 0 2.2 2 4 4.5 4zM49 8c.8 0 1.5.6 1.5 1.4 0 .7-.7 1.3-1.5 1.3-.9 0-1.5-.6-1.5-1.3 0-.8.6-1.4 1.5-1.4zM83.1 10.6h3v2.6h-3v-2.6zM83.1 5.3h3v2.6h-3V5.3zM77.2 10.6h3v2.6h-3v-2.6zM77.2 5.3h3v2.6h-3V5.3zM71.2 10.6h3v2.6h-3v-2.6zM71.2 5.3h3v2.6h-3V5.3zM65.3 10.6h3v2.6h-3v-2.6zM65.3 5.3h3v2.6h-3V5.3z" fill="currentColor"/></svg>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class WashingMachineIcon extends Vue {}
</script>
