<template>
    <i><svg width="39" height="32" xmlns="http://www.w3.org/2000/svg"><path d="M36.5 1c-1.8-1.6-4.4-1.3-6 .6l-.7.7-.6-.7c-1.7-1.9-4.3-2.2-6-.5a5.4 5.4 0 00-.4 7.3l6.3 7c.4.5 1 .5 1.4 0l6.3-7c1.8-2 1.7-5.4-.3-7.3z" fill="currentColor"/><path d="M2.8 5.7c-.6 0-1.1.2-1.6.5a3 3 0 00-1 1.4A3.3 3.3 0 00.8 11c.4.4.9.7 1.4.8.6.2 1.1 0 1.6-.1.5-.3 1-.7 1.3-1.2a3.2 3.2 0 00-.4-3.8c-.5-.5-1.2-.9-2-.9zm0 10.1c-.6 0-1.1.2-1.6.5a3 3 0 00-1 1.4A3.3 3.3 0 00.8 21c.4.4.9.7 1.4.8.6.2 1.1.1 1.6-.1.5-.3 1-.7 1.3-1.1a3.2 3.2 0 00-.4-3.9c-.5-.5-1.2-.9-2-.9zm0 10.1c-.6 0-1.1.2-1.6.5a3 3 0 00-1 1.4 3.3 3.3 0 00.6 3.3c.4.4.9.7 1.4.8.6.2 1.1.1 1.6-.1.5-.3 1-.6 1.3-1.1a3.2 3.2 0 00-.4-3.9c-.5-.5-1.2-.9-2-.9zm26 1H10.1c-.3 0-.5.2-.7.3a1 1 0 00-.2.8v2c0 .2 0 .5.2.7.2.2.4.3.7.3h18.5c.3 0 .5-.1.7-.3l.2-.7v-2a1 1 0 00-.2-.8.9.9 0 00-.7-.3zm0-20.2H10.1c-.3 0-.5.2-.7.3a1 1 0 00-.2.8v2c0 .2 0 .5.2.7.2.2.4.3.7.3h18.5c.3 0 .5-.1.7-.3l.2-.7v-2a1 1 0 00-.2-.8.9.9 0 00-.7-.3zm0 10.1H10.1c-.3 0-.5.2-.7.3a1 1 0 00-.2.8v2c0 .2 0 .5.2.7.2.2.4.3.7.3h18.5c.3 0 .5-.1.7-.3l.2-.7v-2a1 1 0 00-.2-.8.9.9 0 00-.7-.3z" fill="currentColor"/></svg></i>
</template>

<script lang="ts">
// eslint-disable-next-line
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {}
})
export default class WishListIcon extends Vue {}
</script>
