<template>
  <div id="app">
    <Header class="bg-branding" />
    <router-view style="min-height: 90vh; height: auto;" />
    <Footer class="bg-branding" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

@Component({
  components: { Header, Footer }
})
export default class Links extends Vue {
  @Prop() private msg!: string;
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.2;

  footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  header {
    padding-top: 12px;
    padding-bottom: 21px;
    padding-left: 16px;
    padding-right: 16px;

    a:hover {
      color: #7aceea;
      text-shadow: 0px 0px 12px rgba($color: #000000, $alpha: 0.5);
    }

    .nav {
      font-size: 18px;
      margin-right: 16px;
      &:last-child {
        margin-right: 0px;
      }
    }

    .nav-2 {
      font-size: 14px;
      margin-right: 8px;
      &:last-child {
        margin-right: 0px;
      }
    }

    .icons {
      padding: 8px;
      margin-right: 16px;
      &:last-child {
        margin-right: 0px;
      }

      &:hover svg {
        color: #74d5f5;
        text-shadow: 0px 0px 16px rgba($color: #000000, $alpha: 0.25);
      }
    }

    input[type="text"] {
      height: 48px;
      border-radius: 15px 0px 0px 15px;
      padding: 8px 16px;
      &::placeholder {
        color: #333;
      }
    }
    button {
      height: 48px;
      border-radius: 0px 15px 15px 0px;
      padding: 8px 16px;
    }
  }

  .tab {
    font-weight: 500;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &--active {
      color: #0092c1;
      border-bottom: 3px solid #0092c1;
    }
    &:hover {
      color: #7aceea;
      text-shadow: 0px 0px 16px rgba($color: #000000, $alpha: 0.25);
    }
  }

  .newsletter {
    input[type="text"] {
      height: 48px;
      border-radius: 15px;
      border: 1px solid #000;
      padding: 8px 16px;
      margin-right: 32px;
      &::placeholder {
        color: #333;
      }
      &:hover {
        background-color: #eeeeee;
      }
    }

    button {
      height: 48px;
      border-radius: 15px;
      padding: 8px 16px;
      color: white;
      background-color: #0092c1;
      &:hover {
        background-color: #7aceea;
      }
    }
  }

  .btn {
    font-size: 1.125rem;
    border-radius: 0.875rem;
    padding: 0.75rem 1.25rem;
    color: white;
    background-color: #0092c1;
    &:hover {
      border-top-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      background-color: #7aceea;
      color: rgb(70, 70, 70);
    }
  }

  .btn-large {
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #0092c1;
    &:hover {
      background-color: #7aceea;
      color: rgb(70, 70, 70);
    }
  }

  .filter:hover {
    > .chevron {
      transform: rotate(-90deg);
    }
    .filter--current--md--hide,
    .filter--possible {
      display: unset;
    }
  }

  .filter--current--md--hide,
  .filter--possible {
    display: none;
  }

  .filter-category {
    &:hover {
      .filter-category--options {
        display: flex;
        height: auto;
        transition: height 250ms ease-in-out;
      }
      .chevron {
        transform: rotate(-90deg);
      }
    }

    &--options {
      display: none;
      height: 0px;
      transition: height 250ms ease-in-out;
    }

    &--options:hover {
      display: flex;
      height: auto;
      transition: height 250ms ease-in-out;
    }
  }

  .chevron-opened {
    transform: rotate(-90deg);
  }

  .categories-selection {
    a:hover {
      // background-color: #bebebe;
      color: #0092c1;
    }
  }

  .columns {
    .column {
      margin-right: 30px;
    }
    .column:last-child {
      margin-right: 0px;
    }
  }

  .anim {
    transition: all 250ms ease-in-out;
  }

  .shadow {
    box-shadow: 4px 4px 24px rgba($color: #000000, $alpha: 0.1);
  }

  .hover-shadow {
    &:hover {
      box-shadow: 4px 4px 24px rgba($color: #000000, $alpha: 0.25);
    }
  }

  .product-card {
    font-size: 14px;
    // min-width: 186px;
    // max-width: 216px;

    .product-card__name {
      max-height: 48px;
      height: 48px;
      text-overflow: "...";
      overflow: hidden;
    }
    .product-card__price {
      font-size: 18px;
      font-weight: bold;
      color: #0092c1;
    }
  }

  .bg-branding {
    background-color: #0092c1;
  }

  .bg-branding-light {
    background-color: #7aceea;
  }

  .bg-section-delim {
    background-color: #eeeeee;
  }

  .fg-branding {
    color: #0092c1;
  }

  .fg-branding-light {
    color: #7aceea;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }

    .btn-large {
      font-size: 1.5rem;
      border-radius: 1rem;
      padding: 1rem 2rem;
      color: white;
      background-color: #0092c1;
      &:hover {
        background-color: #7aceea;
        color: rgb(70, 70, 70);
      }
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
    .filter--current--md--hide,
    .filter--possible {
      display: unset;
    }
  }
  @media (min-width: 1280px) {
    .container {
      max-width: 1440px;
    }
  }
}
</style>
